@import "tailwindcss";

/* --------------------------
   Theme Fonts
--------------------------- */

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

/* --------------------------
   Global Styles
--------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #FCF7F1;
}

/* --------------------------
   Navbar
--------------------------- */

header {
  transition: background-color .45s ease, box-shadow .45s ease;
}

nav a {
  transition: color .3s ease;
}

button {
  transition: all .35s ease;
}